.pagination-list {
    padding: $space-xl 0;
    text-align: center;

    .pagination-item {
        background: $color-primary4;
        border-radius: 5px;
        border: 1px solid $color-primary2;
        color: $color-primary1;
        height: $space-l+5;
        line-height: 1;
        margin: $space-s/2;
        min-width: $space-l+5;
        padding: $space-s/2;

        &:hover {
            background: $color-primary2;
            color: $color-primary4;
        }
    }
}