.site-wrap {
	background-image: url(../images/paper-1.jpg);
	background-size: cover;
}

input,
select,
textarea {
	padding: $space-s $space-m;
	background: $color-primary4;
	border-radius: 6px;
	border: 1px solid $color-primary5;
	color: inherit;
	width: 100%;
}

button,
input,
a {
    outline:none;
}

table {
    background: white;
    text-align: center;
    width: 100%;
}

th, td {
    border: 1px solid $color-primary6;
    padding: $space-m;
}

th {
    background: $color-primary5;
    text-transform: uppercase;
}