.battle-button {
    @extend %button-secondary;

    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
}

.fight-builder-table {

    .player-name {
        text-transform: capitalize;
        font-weight: bold;
    }
}

.fight-monsters-block,
.fight-builder-field,
.fight-initiative-block {
    padding-bottom: $space-xl;
}


.curren-turn {
	td {
	    border-top: 4px solid $color-primary2;
	    border-bottom: 4px solid $color-primary2;

	    &:first-child {border-left: 4px solid $color-primary2;}

		&:last-child {
		    border-right: 4px solid $color-primary2;
		}
	}

}

.fight-actions {
    display: flex;
    justify-content: space-between;
    margin: $space-xl 0;
}